
# Environment
.env
.env.backup
.env.production

# IDEs & system files
/.idea
/.vscode
.DS_Store
Thumbs.db

# Composer / Node
/vendor
/node_modules

# Laravel build / cache files
/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

# Storage, but allow Laravel to write these folders locally
/storage/app
/storage/app/public
/storage/framework
/storage/logs
